* {
    box-sizing: border-box;
}
.name {
    text-transform: capitalize;
}
.category {
    text-transform: capitalize;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.section_1 {
    display: flex;
    flex: auto;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 10px;
}

.section_1 .secton_1_child {
    flex: auto;
    padding: 10px;
}

#mapid {
    height: 500px;
    min-width: 300px;
}

#searchForm {
    margin-bottom: 10px;
}